@import '../../index.scss';

.user-avatar-gradient {
  border: none;
  background: linear-gradient(135deg, #7B5FC9 0%, #85E7FF 100%) !important;
  color: white !important;
  font-weight: 600 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}